# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
dist/
build/

# Virtual Environment
venv/
env/
.env

# FastAPI
*.log
*.pyd
*.DS_Store
*.coverage

# IDE settings
.idea/

# Configuration files
*.json
*.yaml
*.yml

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb
